# **Obtención y preparación de datos**

# OD23. Tarea Final

Normalmente, los proyectos de ciencia de datos, comienzan con estadísticas descriptivas para tener una idea de las propiedades del conjunto de datos que se está trabajando. Afortunadamente, es fácil obtener estas estadísticas con las estructuras de datos de **Pandas**.

## <font color='blue'>**Estadística Descriptiva con la Base de Datos Iris**</font>

En este proyecto, deberán implemnetar el cálculo de varias estadísticas descriptivas para el clásico <a href="https://en.wikipedia.org/wiki/Iris_flower_data_set">conjunto de datos de iris</a>.

El siguiente código, carga los paquetes necesarios y también el conjunto de datos iris.

**load_iris()** carga en un objeto que contiene el conjunto de datos de iris.

In [117]:
import pandas as pd
import numpy as np

from pandas import DataFrame
from sklearn.datasets import load_iris   

iris_obj = load_iris()

In [118]:
type(iris_obj.data)
type(iris_obj.feature_names)

list

## <font color='green'>Actividad 1</font>

Basado en la estructura del objeto **iris_obj**, convierta este en un dataframe.

In [119]:
#Solución
Iris_plants = pd.DataFrame(iris_obj.data, columns = iris_obj.feature_names)
Iris_plants

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [120]:
Iris_plants["target"] = pd.array(data=iris_obj.target, dtype=np.dtype("<U1"))
Iris_plants

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                  5.1               3.5  ...               0.2       0
1                  4.9               3.0  ...               0.2       0
2                  4.7               3.2  ...               0.2       0
3                  4.6               3.1  ...               0.2       0
4                  5.0               3.6  ...               0.2       0
..                 ...               ...  ...               ...     ...
145                6.7               3.0  ...               2.3       2
146                6.3               2.5  ...               1.9       2
147                6.5               3.0  ...               2.0       2
148                6.2               3.4  ...               2.3       2
149                5.9               3.0  ...               1.8       2

[150 rows x 5 columns]

<font color='green'>Fin Actividad 1</font>

## <font color='green'>Actividad 2</font>

1. Reemplace los valores de la columna "species" por los siguientes valores:
  * "setosa" = 0
  * "versicolor" = 1
  * "virginica" = 2

2. Agrupe las muestras por especies
3. Sin usar el método **describe()**, calcule los estadísticos básicos de la muestra:
  * cantidad de elementos no nulos
  * media
  * varianza
  * Desviación estándar
  * Percentiles y cuartiles
  * Rango inter-cuartílico
  * Valores máximos y mínimos
  * Rango (diferencia entre el máximo y el mínimo)
4. Repita algunos de los análisis anteriores, pero muestre sus resultados por columnas y especies.
5. Compare sus resultados usando el metodo **describe()** por columnas y por especies
6. Generar una tabla multi-indice por "especies" y "ancho del pétalo" y que de cuenta de la suma de los valores de cada clase

In [121]:
# Solución

# 1.- Reemplazar nombre de la especie
Iris_plants['Especie'] = ''
Iris_plants.loc[Iris_plants.target == '0', 'Especie'] = 'setosa'
Iris_plants.loc[Iris_plants.target == '1', 'Especie'] = 'versicolor'
Iris_plants.loc[Iris_plants.target == '2', 'Especie'] = 'virginica'
Iris_plants.pop('target')
Iris_plants

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)    Especie
0                  5.1               3.5  ...               0.2     setosa
1                  4.9               3.0  ...               0.2     setosa
2                  4.7               3.2  ...               0.2     setosa
3                  4.6               3.1  ...               0.2     setosa
4                  5.0               3.6  ...               0.2     setosa
..                 ...               ...  ...               ...        ...
145                6.7               3.0  ...               2.3  virginica
146                6.3               2.5  ...               1.9  virginica
147                6.5               3.0  ...               2.0  virginica
148                6.2               3.4  ...               2.3  virginica
149                5.9               3.0  ...               1.8  virginica

[150 rows x 5 columns]

In [ ]:
# 2.- Agrupar por especies
Iris_plants.groupby("Especie").describe()

           sepal length (cm)                        ... petal width (cm)
                       count   mean       std  min  ...              25%  50%  75%  max
Especie                                             ...
setosa                  50.0  5.006  0.352490  4.3  ...              0.2  0.2  0.3  0.6
versicolor              50.0  5.936  0.516171  4.9  ...              1.2  1.3  1.5  1.8
virginica               50.0  6.588  0.635880  4.9  ...              1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [ ]:
# 3 .- estadísticos básicos de la muestra

#funcion de rango 
def max_min(s):
   return max(s) - min(s)

#estadisticos
iris_count = Iris_plants.count()
iris_media = Iris_plants.mean()
iris_varianza = Iris_plants.var()
iris_desviacion = Iris_plants.std()
iris_media = Iris_plants.mean()
iris_Q1 = Iris_plants.quantile(0.25)
iris_Q2 = Iris_plants.quantile(0.50)
iris_Q3 = Iris_plants.quantile(0.75)
iris_RIQ = iris_Q3 - iris_Q1
iris_min = Iris_plants.min()
iris_max = Iris_plants.max()
iris_rango = Iris_plants.loc[:, iris_obj.feature_names].apply(max_min)

ires_desc = pd.DataFrame({'No Nulos': iris_count, 
                          'mean': iris_media, 
                          'var':iris_varianza, 
                          'std':iris_desviacion,
                          '25%':iris_Q1,
                          '50%':iris_Q2,
                          '75%':iris_Q3,
                          'RIQ':iris_RIQ,
                          'Min':iris_min,
                          'Max':iris_max, 
                          'Rango':iris_rango 
                          }                         
                         )

ires_desc = ires_desc.transpose()
ires_desc.pop('Especie')
ires_desc

         petal length (cm) petal width (cm) sepal length (cm) sepal width (cm)
No Nulos               150              150               150              150
mean                 3.758          1.19933           5.84333          3.05733
var                3.11628         0.581006          0.685694         0.189979
std                 1.7653         0.762238          0.828066         0.435866
25%                    1.6              0.3               5.1              2.8
50%                   4.35              1.3               5.8                3
75%                    5.1              1.8               6.4              3.3
RIQ                    3.5              1.5               1.3              0.5
Min                      1              0.1               4.3                2
Max                    6.9              2.5               7.9              4.4
Rango                  5.9              2.4               3.6              2.4

In [ ]:
# 4 .- Repita algunos de los análisis anteriores, pero muestre sus resultados por columnas y especies.

# 4.1 - no nulos.
print('No nulos\n')
Iris_plants.groupby("Especie").count()

No nulos

            sepal length (cm)  ...  petal width (cm)
Especie                        ...
setosa                     50  ...                50
versicolor                 50  ...                50
virginica                  50  ...                50

[3 rows x 4 columns]

In [ ]:
# 4.2 - Media.
print('Media\n')
Iris_plants.groupby("Especie").mean()

Media

            sepal length (cm)  ...  petal width (cm)
Especie                        ...
setosa                  5.006  ...             0.246
versicolor              5.936  ...             1.326
virginica               6.588  ...             2.026

[3 rows x 4 columns]

In [ ]:
# 4.3 .- Varianza
print('Varianza\n')
Iris_plants.groupby("Especie").var()

Varianza

            sepal length (cm)  ...  petal width (cm)
Especie                        ...
setosa               0.124249  ...          0.011106
versicolor           0.266433  ...          0.039106
virginica            0.404343  ...          0.075433

[3 rows x 4 columns]

In [ ]:
# 4.4 .- Desviación estandar
print('Desviación estandar\n')
Iris_plants.groupby("Especie").std()

Desviación estandar

            sepal length (cm)  ...  petal width (cm)
Especie                        ...
setosa               0.352490  ...          0.105386
versicolor           0.516171  ...          0.197753
virginica            0.635880  ...          0.274650

[3 rows x 4 columns]

In [ ]:
# 4.5 .- Percentiles y cuartiles
print('Cuartil 1  25%\n')
Iris_plants.groupby("Especie").quantile(0.75)

Cuartil 1  25%

            sepal length (cm)  ...  petal width (cm)
Especie                        ...
setosa                    5.2  ...               0.3
versicolor                6.3  ...               1.5
virginica                 6.9  ...               2.3

[3 rows x 4 columns]

In [ ]:
print('Cuartil 3  75%\n')
Iris_plants.groupby("Especie").quantile(0.25)

Cuartil 3  75%

            sepal length (cm)  ...  petal width (cm)
Especie                        ...
setosa                  4.800  ...               0.2
versicolor              5.600  ...               1.2
virginica               6.225  ...               1.8

[3 rows x 4 columns]

In [ ]:
# 4.6 .- Rango inter-cuartílico
print('Rango inter-cuartílico\n')
Q1 = Iris_plants.groupby("Especie").quantile(0.25)
Q3 = Iris_plants.groupby("Especie").quantile(0.75)
RIQ = Q3-Q1
RIQ

Rango inter-cuartílico

            sepal length (cm)  ...  petal width (cm)
Especie                        ...
setosa                  0.400  ...               0.1
versicolor              0.700  ...               0.3
virginica               0.675  ...               0.5

[3 rows x 4 columns]

In [ ]:
# 4.7 .- Valores mínimos
print('Minimos\n')
Iris_plants.groupby("Especie").min()

Minimos

            sepal length (cm)  ...  petal width (cm)
Especie                        ...
setosa                    4.3  ...               0.1
versicolor                4.9  ...               1.0
virginica                 4.9  ...               1.4

[3 rows x 4 columns]

In [ ]:
# 4.8 .- Valores máximos
print('Maximos\n')
Iris_plants.groupby("Especie").max()

Maximos

            sepal length (cm)  ...  petal width (cm)
Especie                        ...
setosa                    5.8  ...               0.6
versicolor                7.0  ...               1.8
virginica                 7.9  ...               2.5

[3 rows x 4 columns]

In [ ]:
# 4.9 .- Rango (diferencia entre el máximo y el mínimo)

#funcion de rango 
def max_min(s):
  return max(s) - min(s)

setosa = Iris_plants[Iris_plants['Especie'].isin(['setosa'])].loc[:, iris_obj.feature_names].apply(max_min)
setosa = pd.DataFrame(setosa)
setosa = setosa.transpose()
setosa.index = ['setosa']

versicolor = Iris_plants[Iris_plants['Especie'].isin(['versicolor'])].loc[:, iris_obj.feature_names].apply(max_min)
versicolor = pd.DataFrame(versicolor)
versicolor = versicolor.transpose()
versicolor.index = ['versicolor']

virginica = Iris_plants[Iris_plants['Especie'].isin(['virginica'])].loc[:, iris_obj.feature_names].apply(max_min)
virginica = pd.DataFrame(virginica)
virginica = virginica.transpose()
virginica.index = ['virginica']

especies_rango = pd.concat([setosa, versicolor, virginica]) 

print('Rango Máximos - Mínimos\n')
especies_rango

Rango Máximos - Mínimos

            sepal length (cm)  ...  petal width (cm)
setosa                    1.5  ...               0.5
versicolor                2.1  ...               0.8
virginica                 3.0  ...               1.1

[3 rows x 4 columns]

In [123]:
#5.- Compare sus resultados usando el metodo describe() por columnas y por especies
print('Comparación de estadisticos de Largo de petalos, agrupados por especie usando describe() y usando función estadistica')
print('\n\n')

print('Media')
print(Iris_plants.groupby('Especie').describe()['petal length (cm)']['mean'] == Iris_plants.groupby('Especie')['petal length (cm)'].mean())
print('\n\n')


print('Desviación estandar')
print(Iris_plants.groupby('Especie').describe()['petal length (cm)']['std'] == Iris_plants.groupby('Especie')['petal length (cm)'].std())
print('\n\n')

print(f"petal length (cm) especie versicolor")
print(f"funcion describe : {Iris_plants.groupby('Especie').describe()['petal length (cm)']['std']['versicolor']}")
print(f"funcion std      : {Iris_plants.groupby('Especie')['petal length (cm)'].std()['versicolor']}")
print('\n\n')


print('Cuatil 75%')
print(Iris_plants.groupby('Especie').describe()['petal length (cm)']['75%'] == Iris_plants.groupby('Especie')['petal length (cm)'].quantile(0.75))
print('\n\n')

print(f"petal length (cm) especie versicolor")
print(f"funcion describe : {Iris_plants.groupby('Especie').describe()['petal length (cm)']['75%']['virginica']}")
print(f"funcion std      : {Iris_plants.groupby('Especie')['petal length (cm)'].quantile(0.75)['virginica']}")
print('\n\n')

#Las diferencias que se presentan estan en la precición de los decimales utilizados en ambas funciones.

Comparación de estadisticos de Largo de petalos, agrupados por especie usando describe() y usando función estadistica



Media
Especie
setosa        True
versicolor    True
virginica     True
dtype: bool



Desviación estandar
Especie
setosa         True
versicolor    False
virginica      True
dtype: bool



petal length (cm) especie versicolor
funcion describe : 0.46991097723995806
funcion std      : 0.46991097723995784



Cuatil 75%
Especie
setosa         True
versicolor     True
virginica     False
dtype: bool



petal length (cm) especie versicolor
funcion describe : 5.875000000000001
funcion std      : 5.875

In [124]:
#6.- Generar una tabla multi-indice por "especies" y "ancho del pétalo" y que de cuenta de la suma de los valores de cada clase
iris_multi_index = pd.MultiIndex.from_frame(Iris_plants[['Especie', 'petal width (cm)']])
iris_multi_index

iris_multi_index_column = ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)']
iris_multi_index_data = Iris_plants[iris_multi_index_column]
iris_multi_index_data.index = iris_multi_index
iris_multi_index_data

print('Suma por Especie y ancho del petalo')
iris_multi_index_data.sum(level = ['Especie', 'petal width (cm)'])

Suma por Especie y ancho del petalo

                             sepal length (cm)  ...  petal length (cm)
Especie    petal width (cm)                     ...
setosa     0.2                           144.2  ...               41.9
           0.4                            37.1  ...               11.0
           0.3                            34.8  ...               10.0
           0.1                            24.1  ...                6.9
           0.5                             5.1  ...                1.7
           0.6                             5.0  ...                1.6
versicolor 1.4                            44.5  ...               31.5
           1.5                            61.9  ...               45.8
           1.3                            76.5  ...               54.3
           1.6                            18.3  ...               14.3
           1.0                            37.9  ...               25.4
           1.1                            16.2  ...               10.7
           1.8                             5.9  ...                4.8
           1.2                            28.9  ...               21.2
           1.7                             6.7  ...                5.0
virginica  2.5                            20.2  ...               17.8
           1.9                            31.7  ...               26.6
           2.1                            41.5  ...               34.7
           1.8                            70.9  ...               59.2
           2.2                            20.6  ...               18.1
           1.7                             4.9  ...                4.5
           2.0                            39.9  ...               33.3
           2.4                            18.8  ...               16.3
           2.3                            55.3  ...               45.6
           1.5                            12.3  ...               10.1
           1.6                             7.2  ...                5.8
           1.4                             6.1  ...                5.6

[27 rows x 3 columns]

<font color='green'>Fin Actividad 2</font>

## <font color='blue'>**Análisis de Datos con Base de Datos Titanic**</font>

Para este probleme utilizaremos la base de datos "titanic". Para cargarla debe usar los siguientes comandos:

```
import seaborn as sns
titanic = sns.load_dataset("titanic")
titanic.head(5)
```
Considere sólo las siguientes variables: survived, pclass, sex, age, fare y embarked.

## <font color='green'>Actividad 3</font>

1. Reemplace los valores faltantes para la columna edad por el valor promedio de la muestra.
2. Elimine cualquier otra fila en la que falten datos

In [527]:
import seaborn as sns
titanic = sns.load_dataset("titanic")
titanic.head(5)

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [528]:
# Solución
# La variable años es discreta sin decimales, por lo que se redondea al entero
import numpy as np

# Act 1. Reemplace los valores faltantes para la columna edad por el valor promedio de la muestra.
print(f'La edad promedio es de : {np.round(titanic["age"].mean())}')
titanic["age"].fillna(titanic["age"].mean())

# Act. 2 Elimine cualquier otra fila en la que falten datos
print(f'La cantidad de archivos de la base de datos es de : {len(titanic)}')
print(f'La cantidad de datos nulos por campos es:\n{titanic.isnull().sum()}')
print(f'La cantidad total de datos nulos es: {titanic.isnull().sum().sum()}')

titanic = titanic.dropna()
print(f'La cantidad de archivos de la base de datos, después de eliminar filas incompletas, es de : {len(titanic)}')

La edad promedio es de : 30.0
La cantidad de archivos de la base de datos es de : 891
La cantidad de datos nulos por campos es:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
La cantidad total de datos nulos es: 869
La cantidad de archivos de la base de datos, después de eliminar filas incompletas, es de : 182

<font color='green'>Fin Actividad 3</font>

## <font color='green'>Actividad 4</font>

1. Entregar la información correspondiente a la la tasa de supervivencia promedio agrupada por sexo y clase del pasajero.
2. Genere una tabla que muestre la cantidad de personas agrupadas por sexo y clase.
3. Muestre la misma información del punto 1, pero la cantidad de sobrevivientes.

In [529]:
# 1.- Entregar la información correspondiente a la tasa de supervivencia promedio agrupada por sexo y clase del pasajero.
titanic_1_qty = titanic.groupby(['sex','class']).count()['survived']
titanic_1_survived = titanic.groupby(['sex','class']).sum()['survived']

titanic_1_data = pd.concat([titanic_1_qty, titanic_1_survived], axis = 1)
titanic_1_data.columns = ['Total','Sobrevivientes']

titanic_1_data['sobrevivencia %'] = 0
titanic_1_data['sobrevivencia %'] = titanic_1_data['Sobrevivientes'] / titanic_1_data['Total']

print('Tasa de sobrevivencia de pasajeros por clase y sexo')
titanic_1_data

Tasa de sobrevivencia de pasajeros por clase y sexo

               Total  Sobrevivientes  sobrevivencia %
sex    class
female First      74              71         0.959459
       Second      9               8         0.888889
       Third       5               3         0.600000
male   First      83              35         0.421687
       Second      6               4         0.666667
       Third       5               2         0.400000

In [530]:
# 2.- Genere una tabla que muestre la cantidad de personas agrupadas por sexo y clase.
titanic_2 = titanic.groupby(['sex','class']).count()['survived']
titanic_2 = pd.DataFrame(data = titanic_2)
titanic_2.columns = ['Totales']

print('Total de personas por sexo y clase')
titanic_2

Total de personas por sexo y clase

               Totales
sex    class
female First        74
       Second        9
       Third         5
male   First        83
       Second        6
       Third         5

In [534]:
# 3.- Muestre la misma información del punto 1, pero la cantidad de sobrevivientes.
titanic_3_Sobrevivientes = titanic.groupby(['sex','class']).sum()['survived']
titanic_3_Sobrevivientes = pd.DataFrame(data = titanic_3_Sobrevivientes)
titanic_3_Sobrevivientes.columns = ['Sobrevivientes']

print('Sobrevivientes de personas por sexo y clase')
titanic_3_Sobrevivientes

Sobrevivientes de personas por sexo y clase

               Sobrevivientes
sex    class
female First               71
       Second               8
       Third                3
male   First               35
       Second               4
       Third                2

Hasta ahora hemos examinado las tasas de supervivencia según el sexo y la clase de pasajeros. Otro factor que podría haber influido en la supervivencia es la edad. **¿Los niños varones tenían tanta probabilidad de morir como las mujeres en general?** Podemos investigar esta pregunta mediante la indexación múltiple, o pivotando en más de dos variables, agregando otro índice.

Divida la información de la columna "age" en intervalos, creando así una nueva categoría que se puede utilizar para agrupar. Divida el conjunto en intervalos de (0, 12], (12, 18] y (18, 80].

4. Genere la tabla que le ayude a responder la pregunta anterior (considerando los rangos definidos).
5. Para una mejor interpretación de la información anterior, genere una tabla con el número de entradas por cada grupo.

In [535]:
# Solución
# 4.- Genere la tabla que le ayude a responder la pregunta anterior (considerando los rangos definidos).
titanic_4 = pd.DataFrame(data=titanic[['sex', 'class', 'age', 'survived']])
titanic_4['died'] = 0
titanic_4.loc[titanic_4['survived'] == 1, 'died'] = 0
titanic_4.loc[titanic_4['survived'] == 0, 'died'] = 1

titanic_4['age_range'] = '-'
titanic_4.loc[(titanic_4['age'] >=0) & (titanic_4['age'] <=12), 'age_range'] = '0 - 12'
titanic_4.loc[(titanic_4['age'] >12) & (titanic_4['age'] <=18), 'age_range'] = '12 - 18'
titanic_4.loc[(titanic_4['age'] >18) & (titanic_4['age'] <=80), 'age_range'] = '18 - 80'
titanic_4

        sex  class   age  survived  died age_range
1    female  First  38.0         1     0   18 - 80
3    female  First  35.0         1     0   18 - 80
6      male  First  54.0         0     1   18 - 80
10   female  Third   4.0         1     0    0 - 12
11   female  First  58.0         1     0   18 - 80
..      ...    ...   ...       ...   ...       ...
871  female  First  47.0         1     0   18 - 80
872    male  First  33.0         0     1   18 - 80
879  female  First  56.0         1     0   18 - 80
887  female  First  19.0         1     0   18 - 80
889    male  First  26.0         1     0   18 - 80

[182 rows x 6 columns]

In [536]:
# 5.- Para una mejor interpretación de la información anterior, genere una tabla con el número de entradas por cada grupo.
# tasa de muerte por sexo y rango de edad
titanic_5_qty = titanic_4.groupby(['sex','age_range']).count()['died']
titanic_5_died = titanic_4.groupby(['sex','age_range']).sum()['died']

titanic_5_tasa = pd.concat([titanic_5_qty, titanic_5_died], axis = 1)
titanic_5_tasa.columns = ['Total','Muertos']

titanic_5_tasa['Muerte %'] = 0
titanic_5_tasa['Muerte %'] = titanic_5_tasa['Muertos'] / titanic_5_tasa['Total']

print('Tasa de muerte de pasajeros por sexo y rango de edades')
titanic_5_tasa

Tasa de muerte de pasajeros por sexo y rango de edades

                  Total  Muertos  Muerte %
sex    age_range
female 0 - 12         4        2  0.500000
       12 - 18       10        0  0.000000
       18 - 80       74        4  0.054054
male   0 - 12         7        0  0.000000
       12 - 18        2        1  0.500000
       18 - 80       85       52  0.611765

In [537]:

mujeres_muertos = titanic_5_tasa.loc['female'].sum()['Muertos'] 
mujeres_totales = titanic_5_tasa.loc['female'].sum()['Total']

niños_12_muertos = titanic_5_tasa.loc[(titanic_5_tasa.index.get_level_values('sex') == 'male') & 
                                      (titanic_5_tasa.index.get_level_values('age_range') == '0 - 12')].sum()['Muertos'] 
                                      
niños_12_totales = titanic_5_tasa.loc[(titanic_5_tasa.index.get_level_values('sex') == 'male') & 
                                      (titanic_5_tasa.index.get_level_values('age_range') == '0 - 12')].sum()['Total'] 


niños_18_muertos = titanic_5_tasa.loc[(titanic_5_tasa.index.get_level_values('sex') == 'male') & 
                                      ((titanic_5_tasa.index.get_level_values('age_range') == '0 - 12') | 
                                       (titanic_5_tasa.index.get_level_values('age_range') == '12 - 18') )].sum()['Muertos'] 
niños_18_totales = titanic_5_tasa.loc[(titanic_5_tasa.index.get_level_values('sex') == 'male') & 
                                      ((titanic_5_tasa.index.get_level_values('age_range') == '0 - 12') | 
                                       (titanic_5_tasa.index.get_level_values('age_range') == '12 - 18') )].sum()['Total'] 

mujeres_tasa = mujeres_muertos / mujeres_totales
niños_12_tasa = niños_12_muertos / niños_12_totales
niños_18_tasa = niños_18_muertos / niños_18_totales

print(f'Tasa de muerte')
print(f'Mujeres             : {np.round(mujeres_tasa,4)}')
print(f'Niños menores de 12 : {np.round(niños_12_tasa,4)}')
print(f'Niños menores de 18 : {np.round(niños_18_tasa,4)}')
print(f'\n')

if mujeres_tasa > niños_12_tasa:
  print(f'Las mujeres tenian mas probabilidad de morir que los niños menores de 12')

if mujeres_tasa > niños_18_tasa:
  print(f'Las mujeres tenian mas probabilidad de morir que los niños menores de 18')

if niños_12_tasa > mujeres_tasa:
  print(f'Los niños menores de 12 tenian mas probabilidad de morir que mas mujeres')

if niños_18_tasa > mujeres_tasa:
  print(f'Los niños menores de 18 tenian mas probabilidad de morir que mas mujeres')

Tasa de muerte
Mujeres             : 0.0682
Niños menores de 12 : 0.0
Niños menores de 18 : 0.1111


Las mujeres tenian mas probabilidad de morir que los niños menores de 12
Los niños menores de 18 tenian mas probabilidad de morir que mas mujeres

Pandas también admite la indexación múltiple en las columnas. Como ejemplo, considere el precio de los boletos de un pasajero. Esta es otra característica continua que se puede discretizar. Divida los precios en 2 cuantiles iguales (baratos y caros). Algunos de los grupos resultantes podrían estar vacíos; para mejorar la legibilidad de la tabla use un guión en las casillas vacías.

6. Genere una tabla que nos permita ver el efecto del precio de los tickets.

In [538]:
# Solución
# 6.- Genere una tabla que nos permita ver el efecto del precio de los tickets.
titanic_6 = pd.DataFrame(data=titanic[['sex', 'class', 'age', 'survived', 'fare']])
fare_range = titanic_6['fare'].max()- titanic_6['fare'].min()

titanic_6['fare_range'] = ''
titanic_6.loc[titanic_6['fare'] < fare_range/2, 'fare_range'] = 'Barato'
titanic_6.loc[titanic_6['fare'] >= fare_range/2, 'fare_range'] = 'Caro'
titanic_6

        sex  class   age  survived     fare fare_range
1    female  First  38.0         1  71.2833     Barato
3    female  First  35.0         1  53.1000     Barato
6      male  First  54.0         0  51.8625     Barato
10   female  Third   4.0         1  16.7000     Barato
11   female  First  58.0         1  26.5500     Barato
..      ...    ...   ...       ...      ...        ...
871  female  First  47.0         1  52.5542     Barato
872    male  First  33.0         0   5.0000     Barato
879  female  First  56.0         1  83.1583     Barato
887  female  First  19.0         1  30.0000     Barato
889    male  First  26.0         1  30.0000     Barato

[182 rows x 6 columns]

In [542]:

titanic_6_tasa = pd.concat([titanic_6.groupby(['sex','fare_range']).count()['survived'], 
                            titanic_6.groupby(['sex','fare_range']).sum()['survived']], 
                           axis = 1)
titanic_6_tasa.columns = ['Total','Sobrevivientes']

titanic_6_tasa['Sobrevivientes %'] = 0
titanic_6_tasa['Sobrevivientes %'] = titanic_6_tasa['Sobrevivientes'] / titanic_6_tasa['Total']

print('Tasa de sobrevivientes de pasajeros por sexo y rango de precio de los tickets')
print(f'Precio menor que {np.round(fare_range,2)} es barato y mayor o igual es caro.')
print(f'\n')

titanic_6_tasa

Tasa de sobrevivientes de pasajeros por sexo y rango de precio de los tickets
Precio menor que 512.33 es barato y mayor o igual es caro.

                   Total  Sobrevivientes  Sobrevivientes %
sex    fare_range
female Barato         84              78          0.928571
       Caro            4               4          1.000000
male   Barato         90              39          0.433333
       Caro            4               2          0.500000

<font color='green'>Fin Actividad 4</font>

## <font color='green'>Actividad 5</font>

### Análisis de una Hipótesis

Supongamos que alguien afirma que la ciudad desde la que se embarcó un pasajero tuvo una gran influencia en la tasa de supervivencia del pasajero. Investigue esta afirmación.

7. Verifique las tasas de supervivencia de los pasajeros según el lugar desde donde se embarcaron (indicadas en la columna "embarked").

8. Cree una tabla dinámica para examinar las tasas de supervivencia según el lugar de embarque y el género.

9. ¿Qué le sugieren estas tablas sobre la importancia de dónde se embarcaron las personas para influir en su tasa de supervivencia? Examine el contexto del problema y explique lo que cree que esto realmente significa.

10. Investigue la afirmación más a fondo con al menos dos tablas dinámicas más, explorando otros criterios (por ejemplo, clase, edad, etc.). Explique cuidadosamente sus conclusiones.

In [543]:
# Solución
# 7.- Verifique las tasas de supervivencia de los pasajeros según el lugar desde donde se embarcaron (indicadas en la columna "embarked").
titanic_7_tasa = pd.concat([titanic.groupby(['embarked']).count()['survived'], 
                            titanic.groupby(['embarked']).sum()['survived']], 
                           axis = 1)
titanic_7_tasa.columns = ['Total','Sobrevivientes']

titanic_7_total_pasajeros = titanic_7_tasa.sum()['Total']
titanic_7_tasa['Sobrevivientes %'] = 0
titanic_7_tasa['Sobrevivientes %'] = titanic_7_tasa['Sobrevivientes'] / titanic_7_total_pasajeros

titanic_7_embarque = pd.DataFrame(titanic_7_tasa.sort_values(['Sobrevivientes %'], axis=0, ascending=False).head(1))
titanic_7_embarque_ciudad = titanic_7_embarque.index[0]
titanic_7_embarque_tasa = titanic_7_embarque['Sobrevivientes %'][0]

print(f'De los {titanic_7_total_pasajeros} pasajeros; los que embarcaron en {titanic_7_embarque_ciudad}, tubieron una mayor tasa de sobrevivencia {np.round(titanic_7_embarque_tasa,4)}.')
print(f'\n')
titanic_7_tasa

De los 182 pasajeros; los que embarcaron en S, tubieron una mayor tasa de sobrevivencia 0.4066.

          Total  Sobrevivientes  Sobrevivientes %
embarked
C            65              48          0.263736
Q             2               1          0.005495
S           115              74          0.406593

In [544]:
# 8.- Cree una tabla dinámica para examinar las tasas de supervivencia según el lugar de embarque y el género.
titanic_8_tasa = pd.concat([titanic.groupby(['embarked', 'sex']).count()['survived'], 
                            titanic.groupby(['embarked', 'sex']).sum()['survived']], 
                           axis = 1)
titanic_8_tasa.columns = ['Total','Sobrevivientes']

titanic_8_total_pasajeros = titanic_8_tasa.sum()['Total']
titanic_8_tasa['Sobrevivientes %'] = 0
titanic_8_tasa['Sobrevivientes %'] = titanic_8_tasa['Sobrevivientes'] / titanic_8_total_pasajeros

titanic_8_embarque = pd.DataFrame(titanic_8_tasa.sort_values(['Sobrevivientes %'], axis=0, ascending=False).head(1))
titanic_8_embarque_ciudad = titanic_8_embarque.index[0][0]
titanic_8_embarque_sexo = titanic_8_embarque.index[0][1]
titanic_8_embarque_tasa = titanic_8_embarque['Sobrevivientes %'][0]

print(f'De los {titanic_8_total_pasajeros} pasajeros; que embarcaron en {titanic_8_embarque_ciudad} de sexo {titanic_8_embarque_sexo}, tubieron una mayor tasa de sobrevivencia {np.round(titanic_8_embarque_tasa,4)}.')
print(f'\n')
titanic_8_tasa

De los 182 pasajeros; que embarcaron en S de sexo female, tubieron una mayor tasa de sobrevivencia 0.2637.

                 Total  Sobrevivientes  Sobrevivientes %
embarked sex
C        female     34              33          0.181319
         male       31              15          0.082418
Q        female      1               1          0.005495
         male        1               0          0.000000
S        female     53              48          0.263736
         male       62              26          0.142857

In [ ]:
# 9.- ¿Qué le sugieren estas tablas sobre la importancia de dónde se embarcaron las personas para influir en su tasa de supervivencia? Examine el contexto del problema y explique lo que cree que esto realmente significa.
titanic

In [545]:
# 10.- Investigue la afirmación más a fondo con al menos dos tablas dinámicas más, explorando otros criterios (por ejemplo, clase, edad, etc.). Explique cuidadosamente sus conclusiones.

# 10A .- Segun embarque y clase
titanic_10A_tasa = pd.concat([titanic.groupby(['embarked', 'class']).count()['survived'], 
                              titanic.groupby(['embarked', 'class']).sum()['survived']], 
                              axis = 1)
titanic_10A_tasa.columns = ['Total','Sobrevivientes']

titanic_10A_total_pasajeros = titanic_10A_tasa.sum()['Total']
titanic_10A_tasa['Sobrevivientes %'] = 0
titanic_10A_tasa['Sobrevivientes %'] = titanic_10A_tasa['Sobrevivientes'] / titanic_10A_total_pasajeros

titanic_10A_embarque = pd.DataFrame(titanic_10A_tasa.sort_values(['Sobrevivientes %'], axis=0, ascending=False).head(1))
titanic_10A_embarque_ciudad = titanic_10A_embarque.index[0][0]
titanic_10A_embarque_class = titanic_10A_embarque.index[0][1]
titanic_10A_embarque_tasa = titanic_10A_embarque['Sobrevivientes %'][0]

print(f'De los {titanic_10A_total_pasajeros} pasajeros; que embarcaron en {titanic_10A_embarque_ciudad} de clase {titanic_10A_embarque_class}, tubieron una mayor tasa de sobrevivencia {np.round(titanic_10A_embarque_tasa,4)}.')
print(f'\n')
titanic_10A_tasa

De los 182.0 pasajeros; que embarcaron en S de clase First, tubieron una mayor tasa de sobrevivencia 0.3187.

                 Total  Sobrevivientes  Sobrevivientes %
embarked class
C        First    63.0            47.0          0.258242
         Second    2.0             1.0          0.005495
         Third     NaN             NaN               NaN
Q        First     2.0             1.0          0.005495
         Second    NaN             NaN               NaN
         Third     NaN             NaN               NaN
S        First    92.0            58.0          0.318681
         Second   13.0            11.0          0.060440
         Third    10.0             5.0          0.027473

In [546]:

# 10B .- Segun embarque y edad
titanic_10B = pd.DataFrame(data=titanic[['sex', 'class', 'age', 'embarked', 'survived']])
titanic_10B['age_range'] = '-'
titanic_10B.loc[(titanic_10B['age'] >=0) & (titanic_10B['age'] <=12), 'age_range'] = '0 - 12'
titanic_10B.loc[(titanic_10B['age'] >12) & (titanic_10B['age'] <=18), 'age_range'] = '12 - 18'
titanic_10B.loc[(titanic_10B['age'] >18) & (titanic_10B['age'] <=80), 'age_range'] = '18 - 80'
titanic_10B

titanic_10B_tasa = pd.concat([titanic_10B.groupby(['embarked', 'age_range']).count()['survived'], 
                              titanic_10B.groupby(['embarked', 'age_range']).sum()['survived']], 
                              axis = 1)
titanic_10B_tasa.columns = ['Total','Sobrevivientes']

titanic_10B_total_pasajeros = titanic_10B_tasa.sum()['Total']
titanic_10B_tasa['Sobrevivientes %'] = 0
titanic_10B_tasa['Sobrevivientes %'] = titanic_10B_tasa['Sobrevivientes'] / titanic_10B_total_pasajeros

titanic_10B_embarque = pd.DataFrame(titanic_10B_tasa.sort_values(['Sobrevivientes %'], axis=0, ascending=False).head(1))
titanic_10B_embarque_ciudad = titanic_10B_embarque.index[0][0]
titanic_10B_embarque_edad = titanic_10B_embarque.index[0][1]
titanic_10B_embarque_tasa = titanic_10B_embarque['Sobrevivientes %'][0]

print(f'De los {titanic_10B_total_pasajeros} pasajeros; que embarcaron en {titanic_10B_embarque_ciudad} de edad {titanic_10B_embarque_edad}, tubieron una mayor tasa de sobrevivencia {np.round(titanic_10B_embarque_tasa,4)}.')
print(f'\n')
titanic_10B_tasa

De los 182 pasajeros; que embarcaron en S de edad 18 - 80, tubieron una mayor tasa de sobrevivencia 0.3242.

                    Total  Sobrevivientes  Sobrevivientes %
embarked age_range
C        12 - 18        6               5          0.027473
         18 - 80       59              43          0.236264
Q        18 - 80        2               1          0.005495
S        0 - 12        11               9          0.049451
         12 - 18        6               6          0.032967
         18 - 80       98              59          0.324176

In [549]:
# 10.- Investigue la afirmación más a fondo con al menos dos tablas dinámicas más, explorando otros criterios (por ejemplo, clase, edad, etc.). Explique cuidadosamente sus conclusiones.
titanic_10C = pd.DataFrame(data=titanic[['sex', 'class', 'age', 'embarked', 'survived']])
titanic_10C['age_range'] = '-'
titanic_10C.loc[(titanic_10C['age'] >=0) & (titanic_10C['age'] <=12), 'age_range'] = '0 - 12'
titanic_10C.loc[(titanic_10C['age'] >12) & (titanic_10C['age'] <=18), 'age_range'] = '12 - 18'
titanic_10C.loc[(titanic_10C['age'] >18) & (titanic_10C['age'] <=80), 'age_range'] = '18 - 80'
titanic_10C

titanic_10C_tasa = pd.concat([titanic_10C.groupby(['embarked', 'class', 'sex', 'age_range']).count()['survived'], 
                              titanic_10C.groupby(['embarked', 'class', 'sex', 'age_range']).sum()['survived']], 
                              axis = 1)
titanic_10C_tasa.columns = ['Total','Sobrevivientes']

titanic_10C_total_pasajeros = titanic_8_tasa.sum()['Total']
titanic_10C_tasa['Sobrevivientes %'] = 0
titanic_10C_tasa['Sobrevivientes %'] = titanic_10C_tasa['Sobrevivientes'] / titanic_10C_total_pasajeros

titanic_10C_embarque = pd.DataFrame(titanic_10C_tasa.sort_values(['Sobrevivientes %'], axis=0, ascending=False).head(1))
titanic_10C_embarque_ciudad = titanic_10C_embarque.index[0][0]
titanic_10C_embarque_clase = titanic_10C_embarque.index[0][1]
titanic_10C_embarque_sexo = titanic_10C_embarque.index[0][2]
titanic_10C_embarque_edad = titanic_10C_embarque.index[0][3]
titanic_10C_embarque_tasa = titanic_10C_embarque['Sobrevivientes %'][0]

print(f'De los {titanic_10C_total_pasajeros} pasajeros; que embarcaron en {titanic_10C_embarque_ciudad} de clase {titanic_10C_embarque_clase} de sexo {titanic_10C_embarque_sexo} y de edad {titanic_10C_embarque_edad}, tubieron una mayor tasa de sobrevivencia {np.round(titanic_10C_embarque_tasa,4)}.')
print(f'\n')

print("Se puede observar que la frase 'Mujeres y niños primero', se cumple, ya que independiente de la clase y del lugar de embarque, estos grupos fueron los de mayor sobrevivencia.")
titanic_10C_tasa

De los 182.0 pasajeros; que embarcaron en S de clase First de sexo female y de edad 18 - 80, tubieron una mayor tasa de sobrevivencia 0.1758.


Se puede observar que la frase 'Mujeres y niños primero', se cumple, ya que independiente de la clase y del lugar de embarque, estos grupos fueron los de mayor sobrevivencia.

                                  Total  Sobrevivientes  Sobrevivientes %
embarked class  sex    age_range
C        First  female 0 - 12       NaN             NaN               NaN
                       12 - 18      4.0             4.0          0.021978
                       18 - 80     29.0            28.0          0.153846
                male   0 - 12       NaN             NaN               NaN
                       12 - 18      2.0             1.0          0.005495
                       18 - 80     28.0            14.0          0.076923
         Second female 0 - 12       NaN             NaN               NaN
                       12 - 18      NaN             NaN               NaN
                       18 - 80      1.0             1.0          0.005495
                male   0 - 12       NaN             NaN               NaN
                       12 - 18      NaN             NaN               NaN
                       18 - 80      1.0             0.0          0.000000
         Third  female 0 - 12       NaN             NaN               NaN
                       12 - 18      NaN             NaN               NaN
                       18 - 80      NaN             NaN               NaN
                male   0 - 12       NaN             NaN               NaN
                       12 - 18      NaN             NaN               NaN
                       18 - 80      NaN             NaN               NaN
Q        First  female 0 - 12       NaN             NaN               NaN
                       12 - 18      NaN             NaN               NaN
                       18 - 80      1.0             1.0          0.005495
                male   0 - 12       NaN             NaN               NaN
                       12 - 18      NaN             NaN               NaN
                       18 - 80      1.0             0.0          0.000000
         Second female 0 - 12       NaN             NaN               NaN
                       12 - 18      NaN             NaN               NaN
                       18 - 80      NaN             NaN               NaN
                male   0 - 12       NaN             NaN               NaN
                       12 - 18      NaN             NaN               NaN
                       18 - 80      NaN             NaN               NaN
         Third  female 0 - 12       NaN             NaN               NaN
                       12 - 18      NaN             NaN               NaN
                       18 - 80      NaN             NaN               NaN
                male   0 - 12       NaN             NaN               NaN
                       12 - 18      NaN             NaN               NaN
                       18 - 80      NaN             NaN               NaN
S        First  female 0 - 12       1.0             0.0          0.000000
                       12 - 18      6.0             6.0          0.032967
                       18 - 80     33.0            32.0          0.175824
                male   0 - 12       3.0             3.0          0.016484
                       12 - 18      NaN             NaN               NaN
                       18 - 80     49.0            17.0          0.093407
         Second female 0 - 12       1.0             1.0          0.005495
                       12 - 18      NaN             NaN               NaN
                       18 - 80      7.0             6.0          0.032967
                male   0 - 12       3.0             3.0          0.016484
                       12 - 18      NaN             NaN               NaN
                       18 - 80      2.0             1.0          0.005495
         Third  female 0 - 12       2.0             1.0          0.005495
                       12 - 18      NaN             NaN               NaN
                       18 - 80      3.0             2.0          0.010989
                male   0 - 12       1.0             1.0          0.005495
                       12 - 18      NaN             NaN               NaN
                       18 - 80      4.0             1.0          0.005495

<font color='green'>Fin Actividad 5</font>